<ion-header>
  <ion-navbar>
    <ion-title>{{room}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h2>Categories</h2>
  <ion-list>
    <div *ngFor="let category of categories">
      <ion-list-header (click)="toggleCategory(category)">
        <ion-icon name="{{isCategoryShown(category) ? 'remove' : 'add'}}"></ion-icon> {{category.name}}</ion-list-header>
      <div *ngIf="isCategoryShown(category)">
        <ion-item *ngFor="let item of category.items">{{item.name}}</ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
